**/project/target
**/project/project
.metals
.bloop
.vscode
*.class
*.sjsr

project/.bloop

.sbt

modules/core/target

root/target
target

.bsp

*.log

metals.sbt
website
**/node_modules
.scala-build
